h1 {
    color: blue;
    text-align: center
}

.note {
    background-color: aliceblue;
    position: relative;
    right: 0px;
    font-size: 16px;
    text-align: center;
}

.note h4 {
    font-weight: bold
}

.note p {
    position: relative;
    top: 0px;
    right: 0px;
    font-size: 16px;
    text-align: center;
}

.author {
    line-height: 1;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 0px;
}

.left,
.right {
    width: 25%;
}

.middle1,
.middle2 {
    width: 25%;
}


.button {
    background-color: #482475;
    border-color: #440154;
    border-radius: 10px;
    width: 70px;
    height: 30px;
    font-weight: bold;
    color: aliceblue;
}

.button:hover{
    background-color:#2a788e;
     border-color: #355f8d;
}

.button:focus{
    background-color:#bddf26;
    border-color: #7ad151;
    color: #482475;

.dot {
    stroke: #000;
  }

div.tooltip {	
    position: absolute;			
    width: 350x;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
