h1 {
    color: #28666e;
    font-size: 70px;
    padding: 0;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 0px;
}
h2.top_text {
    color: #1b5259;
    font-size: 30px;
}
.header {
    padding: 0;
    width: 40%;
}

.boxed {
    outline: 2px solid #28666e;
    outline-offset: 8px;
}

.iconPlain  {
    fill: rgba(65, 106, 156, 0.5);
}

.iconSelected  {
    fill:#28666e;   
}

.number  {
    fill:#28666e;   
    font-size:90px;
    text-align: center;
    text-anchor:center;
}
#txtName    {
    fill:#28666e;
    text-anchor:left;
    font-size:22px;
    font-family:sans-serif,Helvetica,Arial;
    font-weight:bold; 
}

#txtState   {
    fill:#28666e;
    text-anchor:left;
    font-size:22px;
    font-family:sans-serif,Helvetica,Arial;
    font-weight:bold;
}


.note {
    background-color: #b5b682;
    position: relative;
    right: 0px;
    font-size: 16px;
    text-align: center;
}

.center {
  margin: auto;
  width: 95%;
  padding-top: 20px;
}

.centerLast {
  margin: auto;
  width: 50%;
}

.container {
    position: relative;
    width: 200px;
    height: 680px;
}

.inline { 
    display: inline-block; 
    vertical-align:top;
  } 

.inlineTextRight {
    font-size:28px;
    display: inline-block; 
    vertical-align:top;
    max-width: 30%;
    color: #033f63;
    text-align: left;
  } 

.inlineTextLeft { 
    font-size:28px;
    display: inline-block; 
    vertical-align:top;
    max-width: 30%;
    color: #033f63;
    text-align: left
  } 

div.tooltip {	
    position: absolute;			
    width: 350x;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.note h4 {
    font-weight: bold
}

.note p {
    position: relative;
    top: 0px;
    right: 0px;
    font-size: 16px;
    text-align: center;
}

.author {
    line-height: 1;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 0px;
}

.left,
.right {
    width: 25%;
}

.middle1,
.middle2 {
    width: 25%;
}

div2.tooltip2 {
    position: absolute;			
    width: 350x;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;	
/*
  color: white;
  position: absolute;
  text-align: left;
  width: 80px;
  height: 70px;
  font: 12px sans-serif;
  background: rgba(0,0,0,.8);
  border: 2px solid black;
  pointer-events: none;
*/
}


.button {
    background-color: #28666e;
    border-color: #28666e;
    border-radius: 10px;
    border-style: solid;
    width: 70px;
    height: 30px;
    font-weight: bold;
    color: aliceblue;
}

.button:hover{
    background-color:#7c9885;
     border-color: #7c9885;
}

.dot {
    stroke: #000;
  }

.button:focus {
    background-color:royalblue;
    border-color: royalblue;
    color: whitesmoke;
}

#carb:focus {
    background-color:#2e75f0;
    border-color: #2e75f0;
    color: whitesmoke;
}

#protein:focus {
    background-color:#3d0b85;
    border-color: #3d0b85;
    color: whitesmoke;
}

#fat:focus {
    background-color:#0db8b8;
    border-color: #0db8b8;
    color: whitesmoke;
}

#all:focus {
    background-color:#898a5c;
    border-color: #898a5c;
    color: whitesmoke;
}

#svg2 {
    padding:10px;
    float:left;
}
